.ingest-data-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.ingest-data-page-graphs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.ind-vars-graph {
  width: 100%;
  height: 100%;
}

.observables-graph {
  width: 100%;
  height: 100%;
}