.remodel-from-report-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.remodel-from-report-page-graphs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.cluster-centers-heatmap {
    width: 100%;
    height: 100%;
}