.report-data-pg-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.report-data-page-graphs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.latest-cluster-center-graph{
    margin-bottom: 20px;
}