 .side-bar-container{
  display: flex;
  height: 100%;
 }

.sidebar {
  width: 250px;
  background-color: rgb(77, 191, 219);
  color: white;
  padding: 1rem;
  height: 100%;
}
.sidebar ul {
  list-style: disc;
  padding-left: 1.5rem; 
  margin: 0; 
}

.side-bar-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(9, 49, 59);
}

.side-bar-delimiter {
  margin-bottom: 10px;
  border-top: 1px solid; 
  border-color: rgb(9, 49, 59); 
}

.sidebar a {
  color: rgb(9, 49, 59);
  display: block;
  margin: 0.5rem 0;
}

.sidebar a:hover {
  text-decoration: underline;
}

.selected-uid a{
  font-weight: bold;
  color: white;
}

