 .side-bar-container {
  display: flex;
  height: 100%;
  /* need to test scroll feature */
  overflow: hidden;  
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: rgb(77, 191, 219);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Adds scrollbar when needed */
}

.sidebar ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 0;
  flex: 1;
  overflow-y: auto;
}

.side-bar-title {
   font-size: 20px;
   font-weight: bold;
   color: rgb(9, 49, 59);
 }

 .side-bar-delimiter {
   margin-bottom: 10px;
   border-top: 1px solid;
   border-color: rgb(9, 49, 59);
 }

 .sidebar a {
   color: rgb(9, 49, 59);
   display: block;
   margin: 0.5rem 0;
 }

 .sidebar a:hover {
   text-decoration: underline;
 }

 .selected-uid a {
   font-weight: bold;
   color: white;
 }

  /* .side-bar-container {
   display: flex;
   overflow-y: auto;
   height: 100%;
 }

 .sidebar {
   width: 250px;
   background-color: rgb(77, 191, 219);
   color: white;
   padding: 1rem;
 }

 .sidebar ul {
   list-style: disc;
   padding-left: 1.5rem;
   margin: 0;
 } */