.uid-banner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: white; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.side-bar-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(9, 49, 59);
}

.side-bar-delimiter {
    margin-bottom: 10px;
    border-top: 1px solid;
    border-color: rgb(9, 49, 59);
}

.uid-banner-labels {
    font-weight: bold;
}

.ingest-report-btns {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(9, 49, 59);
}

.ingest-report-btns:hover {
    text-decoration: underline;
    color: rgb(45, 174, 38);
    cursor: pointer;
}

.ingest-report-btns.selected {
    text-decoration: underline;
    color: rgb(45, 174, 38);
    cursor: pointer;
}

.ingest-report-btns-container {
    display: flex;
}

.align-ingest-report-btns {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}