
/* colors */
/* green: rgb(88, 255, 79) 
   light blue: rgb(77, 191, 219)

*/

.mv-container{
    border: 2px solid black;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;  
    flex-direction:row;
    width:fit-content;
    overflow: auto;
    position:relative;
}

.left{
    display:flex;
    flex-direction:column;
    gap:2rem;
    padding-left: 20px;

}

.variable-dashboard-container{
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    /* need to check, im trying to make this left aligned*/
    /* justify-content: flex-end; */
    padding:5px;
    gap:2rem;
    margin-top: 20px;
}

#var-dashboard{    
    color:black;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
}

.v-row1{
    display: flex;
    flex-direction: column;
}
#enter-var, #enter-value{
    resize:none;
    height:30px;
    width:200px;
}

.submit-var-btn{
  width:auto;
  margin-top: 10px;
   background-color: rgb(45, 174, 38) ;
   color:white;
   border-radius: 10px;
   padding: 5px;
}

.submit-var-btn:hover{
    background-color: lightgray;
}
.var-name-output-container{
    display:flex;
    align-items: baseline;
    gap: 10px;
    color:rgb(77, 191, 219);
    font-weight: bold;

}

/* v row 2 */
.v-row2{
    display: flex;
    flex-direction: column;
}
.v-row2-text-areas{
    display:flex;
    flex-direction:column;
    gap:10px;
}

/* Method Dashboard */
.method-dashboard-container{
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    /* need to check, im trying to make this left aligned*/
    /* justify-content: flex-end; */
    padding:5px;
    gap:2rem;
    margin-bottom: 20px;
}

.method-list-container{
    display:flex;
    flex-direction:column;
    gap:5px;
}

#enter-description{
    resize:none;
    width:500px;
    height: 100px;
}

/* right side  */
.right{
    display:flex;
    flex-direction:column;
    gap:2rem;
    padding-right: 20px;
    
}

.available-dashboard-container{
    display:flex;
    flex-direction:column;
    padding:5px;
    gap:2rem;
    margin-top: 20px;
}

