/* colors */
/* green: rgb(88, 255, 79) 
   light blue: rgb(77, 191, 219)

*/
.debugging-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 10vh;
}

.debugging-page-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

textarea {
    font-size: 14px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;

}

.variable-dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 2rem;
    margin-top: 20px;
}

#var-dashboard {
    color: black;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    color: rgb(24, 103, 123);
    font-weight: 900;
}

.v-row1 {
    display: flex;
    flex-direction: column;
}

.submit-var-btn {
    width: auto;
    margin-top: 10px;
    background-color: rgb(45, 174, 38);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-var-btn:hover,
.refresh-btn:hover {
    background-color: lightgray;
}

.var-name-output-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    color: rgb(77, 191, 219);
    font-weight: bold;
    width: fit-content;

}

#enter-var,
#enter-value {
    resize: none;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
}

/* v row 2 */
.v-row2 {
    display: flex;
    flex-direction: column;
}

.v-row2-text-areas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* Method Dashboard */
.method-dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 2rem;
    margin-bottom: 20px;
}

.method-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#enter-description {
    resize: none;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

/* right side  */
.right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 20px;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.available-dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 0.5rem;
    margin-top: 20px;
}

.refresh-btn {
    width: auto;
    margin-right: auto;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid black;
}

/* filter buttons */

.filter-overlay {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.filter-btns-container {
    display: flex;
}

.filter-btns {
    color: black;
    background-color: white;
    width: auto;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 0;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filter-btns:hover {
    background-color: rgb(77, 191, 219);
    color: white;
    border-color: rgb(77, 191, 219);
}

.filter-btns.active {
    color: white;
    font-weight: bold;
    background-color: rgb(77, 191, 219) !important;
}

.search-bar {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.2s ease-in-out;
    width: 215px;
}

.search-bar:focus {
    border-color: #4dbfdb;
    box-shadow: 0 0 4px rgba(77, 191, 219, 0.4);
}