/* temp */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  border: 0;
  overflow: auto;
}

/* testing */
.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
/* end  of testing */

/* Navigation Button */

.nav-btn-container {
  position: absolute;
  bottom: 0;
  right: 20;
  gap: 10px;
  display: flex;
}

.nav-mv-btn {
  background-color: rgb(24, 103, 123);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  bottom: 5;
  right: 5;
}

.nav-mv-btn:hover,
.switchboard-btn:hover {
  background-color: rgb(77, 191, 219);
}

.switch-btn-container {
  position: absolute;
  bottom: 20;
  right: 20;
  gap: 10px;
  display: flex;

}

/* the position changes depending on the size of the table need to try encapsulating this  */
.switchboard-btn {
  background-color: rgb(24, 103, 123);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  /* position: absolute; */

}