/* temp */
* {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: inter;
  font-size:16px;
  
}

body {
  margin: 0;
  border:0;
  overflow: auto;
}
/* Navigation Button */

.nav-btn-container{
    display:flex;
    justify-content: flex-end;
    bottom: 0;
}
.nav-mv-btn:hover{
    background-color:rgb(77, 191, 219);
}
.nav-mv-btn{
    background-color: rgb(24, 103, 123);
    color:white;
    border-radius: 10px;
    padding: 5px;
}