
.report-data-page-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow: auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}