.layout {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 250px;
  background-color: rgb(77, 191, 219);
  color: white;
  padding: 1rem;
  height: 100%;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}
