/* the start of Agent Switchboard Page */
.agent-switchboard-container {
    margin: 20px auto;
    margin-bottom: 20px;
    display: block;
    width: fit-content;
    overflow: auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

#agent-switchboard-title{
    text-align: center;
    font-size: 30px;
    color: rgb(24, 103, 123);
    font-weight: 900;
}

/* 
    -top3-btns-container refers to the space where the top 3 toggle buttons are.
    -queue-add-position-container refers to the area where the queue-add-position toggle button is
 */
.top3-btns-container,
.queue-add-position-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
    align-items: center;
}

/* toggle-btn-container refers to the individual toggle buttons */
.toggle-btn-container {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


.top-btns.on,
.top-btns.off,
.top-btns.error {
    border-radius: 40px;
    padding: 5px;
    text-decoration: none;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.top-btns.on:hover,
.top-btns.off:hover,
.top-btns.error:hover {
    border: 2px solid rgb(88, 255, 79);
}

.top-btns.on {
    background-color: rgb(88, 255, 79);
    color: white;
}

.top-btns.off {
    background-color: darkgray;
    color: black;
}

.top-btns.error {
    background-color: red;
    color: black;
}


/* Generate Report */

.generate-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 2rem;
    margin-top: 40px;
}

.suggestion-btn.idle,
.suggestion-btn.loading,
.suggestion-btn.error,
.report-btn.idle,
.report-btn.loading,
.report-btn.error {
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 55px;
    border: 1px solid black;
}

.suggestion-btn.idle,
.report-btn.idle {
    background-color: lightgray;
}

.suggestion-btn.idle:hover,
.report-btn.idle:hover {
    background-color: rgb(242, 242, 242);
}

.report-btn.loading,
.suggestion-btn.loading {
    background-color: rgb(88, 255, 79);
}

.report-btn.error,
.suggestion-btn.error {
    background-color: red;
}

/* Agent UID */

.tell-agent-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
.submit-uid-btn {
    background-color: rgb(45, 174, 38);
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;

}

.submit-uid-btn:hover {
    background-color: lightgrey;
}

.tell-uid {
  resize: none;
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid black;
}

.uid-text-area-title {
    font-weight: bold;

}

.uid-text-area-description {
    font-weight: bold;
    font-size: 10px;
    color: darkgray;
}

.error-text {
    color: red;
    margin: 0;
}

